#fenetre {
	border : 3px solid black;
	width : 600px;
	height : 640px;
	margin : auto;
}

#terrain {
	border : 1px solid black;
	position : relative;
	visibility : hidden;
}

#compteur {
	font-size : 200%;
	visibility : hidden;
}

#score {
	position : absolute;
	font-size : 200%;
	min-width:200px;
	visibility : hidden;
}

#menu {
	position : absolute;
	visibility : visible;
	min-width:600px;
	min-height:640px;
	background-image: url(images/menu.png);
}

#boutonOptions {
	position : absolute;
	top : 230px;
	left : 75px;
	visibility : visible;
	min-width:450px;
	min-height:200px;
	background-image: url(images/boutonOptions.png);
}

#boutonCommencer {
	position : absolute;
	top : 450px;
	left : 75px;
	visibility : visible;
	min-width:450px;
	min-height:121px;
	background-image: url(images/boutonCommencer.png);
}